<table class="table is-fullwidth is-bordered">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temp</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.reports}}
    <tr>
      <td>
        {{code}}
      </td>
      <td>
        {{temperature}}
      </td>
      <td>
        {{windSpeed}}
      </td>
      <td>
        {{windDirection}}
      </td>
      <td>
        {{pressure}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
